<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wang.huntergod">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".firstActivity"
            android:label="@string/app_name" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registerActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".loginmidActivity" />
        <activity
            android:name=".midinforActivity"
            android:label="@string/title_activity_midinfor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".editmidinforActivity" />
        <activity android:name=".AddCatActivity" />
        <activity android:name=".FixCatActivity" />
        <activity android:name=".AddvideoGetActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".End" />
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video_ChooseActivity" />
        <activity android:name=".catinforActivity" />
        <activity android:name=".Choose2Activity" />
        <activity android:name=".Choose3Activity" />
        <activity android:name=".Choose4Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Game_video_play" />
        <activity android:name=".Game_video_cleanpoo" />
        <activity android:name=".Game_video_brush" />
        <activity android:name=".Game_video_feed" />
        <activity android:name=".Game_video_shower" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".CustomProgressDialog" />
        <activity android:name=".ActivityVideoPlay" />
        <activity android:name=".ActivityVideoShower" />
        <activity android:name=".Game_video_favorite_Activity"></activity>
    </application>

</manifest>